{% extends 'base/base-logged.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block content %}
    <!---->
    <div class="row justify-content-center" id="table-row">
        <div class="col-md-8">
            <div class="jumbotron">
                <table id="table1" class="display" width="100%"></table>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#AddDebtorModal">
                        Add
                        Deptor
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="AddDebtorModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post">{% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add
                            Deptor</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="first_name"
                                       placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="last_name"
                                       placeholder="Last name">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em">
                            <div class="col">
                                <input class="form-control" type="email" name="e-mail"
                                       placeholder="E-mail">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em">
                            <div class="col">
                                <input class="form-control" type="text" name="iban"
                                       placeholder="Iban">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Save Debtor
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block style-script %}
    <style type="text/css">
        #table-row {
            margin-top: 5em;
        }

        .dataTables_wrapper {
            font-size: 13px;
        }
    </style>

    <script>
        var dataSet = [
            {% if not deptors %}
                ["-", "-", "-", "-", "-", "-", "-",],
            {% else %}
                {% for deptor in deptors %}
                    [
                        "{{ deptor.first_name }}",
                        "{{ deptor.last_name }}",
                        "{{ deptor.email }}",
                        "{{ deptor.open_invoice_count }}",
                        "{{ deptor.paid_invoice_count }}",
                        "{{ deptor.overdue_invoice_count }}",
                        "{{ deptor.cancelled_invoice_count }}",
                    ],
                {% endfor %}
            {% endif %}
        ];
        $(document).ready(function () {
            $('#table1').DataTable({
                data: dataSet,
                columns: [
                    {title: "First Name"},
                    {title: "Last Name"},
                    {title: "E-Mail"},
                    {title: "Open Invoice Count"},
                    {title: "Paid Invoice Count"},
                    {title: "Overdue Invoice Count"},
                    {title: "Cancelled Invoice Count"}]
            });
        });
    </script>
{% endblock %}
