{% extends 'base/base-logged.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block content %}
    <div class="row justify-content-center" id="table-row">
        <div class="col-md-8">
            <div class="jumbotron">
                <table id="table1" class="display" width="100%"></table>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#AddDebtorModal">
                        Add
                        Deptor
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style-script %}
    <style type="text/css">
        #table-row {
            margin-top: 5em;
        }

        /* resizes table */
        .dataTables_wrapper {
            font-size: 13px;
        }
    </style>

    <script>
        var dataSet = [
            {% if not deptors %}
                ["-", "-", "-", "-", "-", "-", "-",],
            {% else %}
                {% for deptor in deptors %}
                    [
                        "{{ deptor.first_name }}",
                        "{{ deptor.last_name }}",
                        "{{ deptor.email }}",
                        "{{ deptor.open_invoice_count }}",
                        "{{ deptor.paid_invoice_count }}",
                        "{{ deptor.overdue_invoice_count }}",
                        "{{ deptor.cancelled_invoice_count }}",
                    ],
                {% endfor %}
            {% endif %}
        ];
        $(document).ready(function () {
            $('#table1').DataTable({
                data: dataSet,
                columns: [
                    {title: "First Name"},
                    {title: "Last Name"},
                    {title: "E-Mail"},
                    {title: "Open Invoice Count"},
                    {title: "Paid Invoice Count"},
                    {title: "Overdue Invoice Count"},
                    {title: "Cancelled Invoice Count"}]
            });
        });
        {% if is_deptor_created %}
            alert("New deptor record succesfully created.");
        {% endif %}
        {% if is_debtor_creation_failed %}
            alert("New deptor record creation failed!");
        {% endif %}
    </script>
{% endblock %}
