{% extends 'base/base-logged.html' %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
{% endblock %}
{% block content %}
    <div class="row justify-content-center" id="form-row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h4 class="display-5">Add Invoice For
                    Debtor: {{ invoice.debtor.full_name }}</h4>
                <hr class="my-4">
                <form method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control"
                                       name="amount" id="amount" value="{{ invoice.amount }}"
                                       placeholder="Amount" step="any"
                                       required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="status">Status</label>
                                <select class="form-control" name="status"
                                        id="status" required="required">
                                    <option>OPEN</option>
                                    <option>PAID</option>
                                    <option>OVERDUE</option>
                                    <option>CANCELLED</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="datetimepicker1">Due Date</label>
                            <input type='text' id='datetimepicker1' name="due_date" value="{{ invoice.due_date_formatted }}" class="form-control"/>
                    </div>
                    <a href="{% url 'debtors:invoices:invoice-debtor-list' debtor_id=invoice.debtor.pk %}" class="btn btn-secondary">
                        back
                    </a>
                    <div class="float-right">
                        <button type="button" data-toggle="modal"
                            data-target="#cancelModal"
                            class="btn btn-danger">
                        Delete Invoice
                    </button>
                        <button type="submit" class="btn btn-success">
                            Update Invoice
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure about deleting invoice?</p>
                </div>
                <div class="modal-footer">
                    <div class="float-left">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">No
                        </button>
                    </div>
                    <div class="float-right">
                        <form action="{% url 'debtors:invoices:invoices-delete' invoice_id=invoice.pk %}"
                              method="post">{% csrf_token %}
                            <input type="hidden" name="cancel"
                                   value="something"/>
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block style-script %}
    <style type="text/css">
        #form-row {
            margin-top: 5em;
        }
    </style>
    <script>
        $('#datetimepicker1').datetimepicker({
            timepicker: false,
            format:'Y-m-d',
        });
        document.getElementById("status").value = "{{ invoice.status }}";
    </script>
{% endblock %}
