{% extends 'base/base-logged.html' %}
{% block content %}
    <div class="row justify-content-center" id="form-row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h4 class="display-5">Add Debtor</h4>
                <hr class="my-4">
                <form method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control"
                                       name="first_name" id="firstName"
                                       placeholder="First Name"
                                       required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control"
                                       name="last_name" id="lastName"
                                       placeholder="Last Name"
                                       required="required">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" name="email"
                               placeholder="E-Mail" id="email" required="required">
                    </div>
                    <div class="form-group">
                        <label for="iban">Iban</label>
                        <input type="text" class="form-control" name="iban"
                               placeholder="Iban" id="iban" required="required">
                    </div>
                    <a href="{% url 'debtors:debtors-list' %}" class="btn btn-secondary">
                        back
                    </a>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">
                            Save Debtor
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block style-script %}
    <style type="text/css">
        #form-row {
            margin-top: 5em;
        }
    </style>
{% endblock %}
