{% extends 'base/base-logged.html' %}
{% block content %}
    <div class="row justify-content-center" id="form-row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h6 class="display-5">Responsible
                    Admin: {{ debtor.responsible_admin.username }}</h6>
                <hr class="my-4">
                <form method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control"
                                       name="first_name"
                                       value="{{ debtor.first_name }}"
                                       placeholder="First Name"
                                       required="required" id="firstName">

                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control"
                                       name="last_name"
                                       value="{{ debtor.last_name }}"
                                       placeholder="Last Name"
                                       required="required" id="lastName">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" name="email"
                               value="{{ debtor.email }}" id="email"
                               placeholder="E-Mail" required="required">
                    </div>
                    <div class="form-group">
                        <label for="iban">Iban</label>
                        <input type="text" class="form-control" name="iban"
                               value="{{ debtor.iban }}" id="iban"
                               placeholder="Iban" required="required">
                    </div>
                    <a href="{% url 'debtors:debtors-list' %}"
                       class="btn btn-secondary">back
                    </a>
                    <button type="button" class="btn btn-warning">Invoices
                    </button>

                    <button type="button" data-toggle="modal"
                            data-target="#cancelModal"
                            class="btn btn-danger">
                        Delete Debtor
                    </button>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Update
                            Debtor
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure about deleting debtor?</p>
                </div>
                <div class="modal-footer">
                    <div class="float-left">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">No
                        </button>
                    </div>
                    <div class="float-right">
                        <form action="{% url 'debtors:debtors-delete' debtor_id=debtor.pk %}"
                              method="post">{% csrf_token %}
                            <input type="hidden" name="cancel"
                                   value="something"/>
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block style-script %}
    <style type="text/css">
        #form-row {
            margin-top: 5em;
        }
    </style>
{% endblock %}
